<div class="all-respondents">
<% for ( var i = 0; i < respondents.length; i++) { %>

   <div class="candidate float-left">
     <img class="avatar float-left" src="img/candidates/<%= respondents[i].name.replace(" ","").toLowerCase() %>_v183.jpg" height="183px" width="150px" />
     <div class="candidate-info">
       <h4 class="candidate-name"><%= respondents[i].name %></h4>
       <!--<p><span class="label"><%= respondents[i].responses.length %></span></p>-->
     </div>
   </div>

<% } %>
<div class="clear-left"></div>
</div>
