<form method="POST" action="">

	<h3><%= question %></h3>

	<fieldset>
		<label for="user-response">I personally think...</label>
		<div class="input">
			<ul class="inputs-list">
				<% for ( var i = 0; i < choices.length; i++ ) { %>
				<li><label><input value="<%= choices[i].answer %>" type="radio" name="user-response"><span><%= choices[i].desc %></span></label></li>
				<% } %>
			</ul>
		</div>
	</fieldset>

	<fieldset>
		<label for="accepted-response">Answers I'll accept...</label>
		<div class="input">
			<ul class="inputs-list">
				<% for ( var i = 0; i < choices.length; i++ ) { %>
				<li><label><input value="<%= choices[i].answer %>" type="checkbox" name="accepted-response"><span><%= choices[i].desc %></label></li>
				<% } %>
			</ul>
		</div>
	</fieldset>

	<fieldset>
		<label for="question-relevance">This question is...</label>
		<div class="input">
		<ul class="inputs-list">
		  <li><label><input value="0" type="radio" name="question-relevance"><span>Irrelevant</span></label></li>
		  <li><label><input value="1" type="radio" name="question-relevance"><span>A Little Important</span></label></li>
		  <li><label><input value="10" type="radio" name="question-relevance"><span>Somewhat Important</span></label></li>
		  <li><label><input value="50" type="radio" name="question-relevance"><span>Very Important</span></label></li>
		  <li><label><input value="250" type="radio" name="question-relevance"><span>Mandatory</span></label></li>
		</ul>
		</div>
	</fieldset>

	<fieldset>
		<label for="explanation">Explain your answer:</label>

		<div class="input">
			<textarea class="span7" name="explanation"></textarea>
		</div>
	</fieldset>

	<div class="well submit-wrap">
		<input type="submit" id="submit-question" name="submit-question" class="btn primary" value="Submit" />
		<a href="#" class="btn" />Skip Question</a>
	</div>
</form>
