<h1>You should vote for: </h1>
<ol class="all-respondents">
<% for ( var i = 0; i < respondents.length; i++) { %>

	<li class="respondent">
		<% if ( respondents[i].avatar_url ) { %>
		<img class="avatar float-left" src="<%= respondents[i].avatar_url %>" height="183px" width="150px" />
		<% } %>
		<div class="respondent-info">
			<h4 class="respondent-name"><%= respondents[i].name %></h4>
			<p class="score label" style="width:<%= Math.round(100*respondents[i].score)*9 %>px">Compatibility Score: <%= Math.round(100*respondents[i].score) %>%</p>
			<p><span class="label"><%= respondents[i].responses.length %></span></p>
		</div>
	</li>

<% } %>
</ol>
